# R/RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata
# package & tarballs
*.tar.*
# R Markdown
*.nb.html
*_cache/
test.Rmd
test.html
# User RStudio & R Markdown to preview markdown files before on remote repo
README.html
CONTRIBUTING.html
# A personal note directory - add your notes in here
/notes
# For the data
/data/*
# Vim
*.swp
# OS
.DS_Store
# github pages
/docs
